:root {
  --color-accent: rgb(28, 102, 238);
  --color-accent-lighter: rgb(236, 243, 255);
  --color-gray-lighter: #f1f1f1;
  --color-black: rgb(43, 43, 43);
  --color-background: rgb(226, 226, 226);

  --box-shadow: 0 1px 1px 1px rgb(202, 202, 202);
  --border-radius: 8px;

  --trans-func: ease;
  --trans-duration: 250ms;
}
